<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div th:if="${param.error}">
    <h3>User with same username already exists.</h3>
</div>
<form th:action="@{/registration}" method="post">
    <div>
        <label for="name">Name</label>
        <input class="form-control" id="name" type="text" th:name="name">
    </div>
    <div>
        <label for="username">Username</label>
        <input class="form-control" id="username" type="text" th:name="username">
    </div>
    <div>
        <label for="password">Password</label>
        <input class="form-control" id="password" type="password" th:name="password">
    </div>
    <input class="button" type="submit" value="Go!"/>
</form>
</body>
</html>